@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
h1,
h2 {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 2.5rem;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;
}

/* navbar */

/* hero */

.hero {
  display: grid;
  place-items: center;
  margin: 4rem 0;
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}
.hero p {
  text-align: center;
  max-width: 55ch;
  font-weight: 600;
  padding-bottom: 1rem;
}
.hero img {
  padding: 1.5rem;
  max-width: 100%;
}

/* hero */

/* grid */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background-image: url(images/bg-section-top-desktop-1.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}

.card h2 {
  font-size: 4.3rem;
  margin: 0;
}
.card p {
  text-align: center;
  margin-top: 0;
  color: hsl(211, 13%, 63%);
  margin-bottom: 18.75rem;
}

/* grid */

/* showcase's */

.showcase-1 {
  background-color: hsl(207, 100%, 98%);
  transform: translateY(-3%);
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  padding: 3rem;
}
.showcase-1 .right img {
  width: 80%;
}
.showcase-1 .left p {
  width: 57ch;
  margin-top: 0;
}

/* showcase-2 */
.showcase-2 {
  padding: 5rem;
  padding-top: 18.5rem;
  padding-bottom: 18.5rem;
  background-image: url(images/bg-section-bottom-desktop-1.svg),
    url(images/bg-section-top-desktop-2.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
  transform: translateY(-3%);
  background-size: 100%,100%;
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
}
.showcase-2 .left img {
  width: 90%;
}
.showcase-2 .right {
  padding: 0 2rem;
}

/* showcase 3 */

.showcase-3 {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  background-color: hsl(207, 100%, 98%);
  transform: translateY(-9%);
  padding: 3rem 1rem;
}
.showcase-3 .right img {
  width: 90%;
}
.showcase-3 .left {
  padding: 0 4rem;
}
.showcase-3 .left p {
  width: 55ch;
  margin-top: 0;
}

/* showcase's */

/* community */

.community {
  background-image: url(images/bg-section-bottom-desktop-2.svg), url(images/bg-footer-top-desktop.svg);
  background-position: center top, center bottom;
  background-size: 100%;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 0;
  padding-top: 10rem;
  transform: translateY(-9%);
  padding-bottom: 18.5rem;
}

/* community */

/* footer */

footer {
  background-color: hsl(192, 100%, 9%);
  display: grid;
  grid-template-columns: 50% 50%;

  align-items: flex-start;

  transform: translateY(-16%);
  color: white;
  padding: 2rem 1rem;
}
footer .left img {
  max-width: 250px;
  filter: invert(90%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(200%)
    contrast(100%);
}
footer .left {
  padding: 2rem;
}
footer .left p {
  width: 40ch;
}
.contact {
  transform: translateX(-15px);
}
.phone {
  list-style-image: url(images/icon-phone.svg);
  padding-top: 1rem;
}
.email-direc {
  list-style-image: url(images/icon-email.svg);
  padding-top: 1rem;
}
.social-media-icons ul {
  list-style: none;
  display: flex;
  padding-top: 2.5rem;
  transform: translateX(-42px);
}
.sr-only {
  display: none;
}

.social-media-icons ul li:nth-child(2) {
  padding: 0 1rem;
}
.social-media-icons ul li a {
  color: white;
}
.social-media-icons ul li a i {
  transition: 300ms ease;
}

footer .right h2 {
  text-transform: uppercase;
}
footer .right p {
  width: 42ch;
}
.email-input {
  width: 100%;
  display: flex;
  align-items: center;
}
.mail {
  display: flex;
  flex-direction: column;
  width: 70%;
  position: relative;
}
#input-email {
  height: 43px;
  outline: none;
  width: 90%;
}
#input-email:invalid {
  outline: solid red;
}
.invalid-mail {
  display: none;
  margin: 0;
  font-size: 0.8rem;
  color: red;
  position: absolute;
  bottom: -45%;
}
#input-email:invalid + .invalid-mail {
  display: block;
}
.green {
  position: absolute;
  background-color: hsl(192, 100%, 9%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 120px;
  transform: translateY(-80%);
}

/* footer */

@media (max-width: 940px) {
  img {
    width: 100%;
  }
  .navbar {
    padding: 2.5rem 1rem;
  }
  /* hero  */

  .hero h1 {
    text-align: center;
  }
  .hero p {
    max-width: 100%;
  }
  .hero img {
    padding: 0 2.5rem;
  }

  /* grid */

  .grid {
    grid-template-columns: 1fr;
    background-image: url(images/bg-section-top-mobile-1.svg);
    background-size: 100%;
  }

  .card p {
    margin-bottom: 5rem;
  }

  /* showcase's */

  .showcase-1 {
    grid-auto-flow: dense;
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .showcase-1 .right {
    grid-row: 1;
  }
  .showcase-1 .right img {
    width: 100%;
  }
  .showcase-1 .left {
    text-align: center;
  }
  .showcase-1 .left p {
    width: 100%;
    margin-top: 0.5rem;
  }

  /* showcase-2 */
  .showcase-2 {
    padding: 15rem 5rem;
    grid-auto-flow: dense;
    background-image: url(images/bg-section-bottom-mobile-1.svg),
      url(images/bg-section-top-mobile-2.svg);
    background-size: 100%, 100%;
    grid-template-columns: 1fr;
  }
  .showcase-2 .left {
    grid-row: 1;
  }
  .showcase-2 .left img {
    width: 100%;
  }
  .showcase-2 .right {
    padding: 0;
    text-align: center;
  }

  /* showcase 3 */

  .showcase-3 {
    grid-auto-flow: dense;
    grid-template-columns: 1fr;
    place-items: center;
    background-color: hsl(207, 100%, 98%);
    transform: translateY(-9%);
    padding: 3rem 0;
  }

  .showcase-3 .right {
    grid-row: 1;
    padding: 0 3rem;
  }
  .showcase-3 .right img {
    width: 100%;
  }

  .showcase-3 .left {
    text-align: center;
  }
  .showcase-3 .left p {
    width: 100%;
  }

  /* showcase's */

  /* community */

  .community {
    background-image: url(images/bg-section-bottom-mobile-2.svg),
      url(images/bg-footer-top-mobile.svg);
    background-size: 100%, 100%;
    text-align: center;
    transform: translateY(-13%);
    padding-bottom: 10.5rem;
  }

  /* community */

  /* footer */

  footer {
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    align-items: flex-start;
    transform: translateY(-16%);
    color: white;
    padding: 1rem;
  }

  footer .right {
    grid-row: 1;
  }
  footer .left {
    padding: 2rem 0;
  }
  footer .left p,
  footer .right p {
    width: 100%;
  }

  /* footer */
}

/* utilities */

.btn {
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 0.7rem 2rem;
  text-decoration: none;
  border-radius: 1.3rem;
  transition: 600ms ease;
}
.btn:hover {
  opacity: 0.7;
}
.fa-twitter-square:hover {
  color: hsl(210, 82%, 64%);
}
.fa-facebook-square:hover {
  color: hsl(210, 87%, 49%);
}
.fa-instagram:hover {
  color: hsl(37, 97%, 70%);
}
.btn-f {
  border-radius: 5px;
}
.header-btn {
  background-color: transparent;
  height: 2.2rem;
  color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  padding: 0.3rem 1.8rem;
}
.hero .btn,
.community .btn {
  text-align: center;
  width: 25%;
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin-bottom: 4rem;
}
.community .btn {
  padding: 1.3rem 2rem;
}
@media (max-width: 800px) {
  .community .btn,
  .hero .btn {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .green {
    transform: translateY(-100%);
  }
@media (min-width:1500px){
  .navbar{
    align-items: center;
  }
  img{
    max-width: 800px;
  }
}
}
